---
---

* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-family: 'Lato', sans-serif;
}


h1 {
	font-size: 12px;
}


.sidebar {

	width: 21%;
	padding: 2%;
	height: 100vh;
	float: left;
}

.content {

	width: 71%;
	padding: 2%;
	height: 100vh;
	float: left;
	background-color: #F0F0F0;
}


.header-logo {

	width: 150px;
	float: left;
}


.sidelinks {
	width: 100%;
	margin: 40px 0 0 0;

	li {
		width: 50%;
		float: left;
	}
}



.post-list {

	width: 100%;
	float: left;

	li {
		width: 27%;
		margin: 1%;
		float: left;
		background-color: #FFF;
		padding: 2%;
	}
}